@charset "UTF-8";
// Variables
@import 'variables';
//共通レイアウト
*{
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family:'游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.header-inner, .contents, .create-contents, .show-contents, .user-contents, .footer-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #333;
  cursor: default;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  font-size: 1.6rem;
  font-family:'游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, sans-serif;
  color: #333;
}
//ヘッダーレイアウト
header {
  background-color: #fff;
  border-bottom: 1px solid #a9a9a9;
  .header-inner {
    display: flex;
    justify-content : space-between;
    padding: 0px 25px;
  }
  .header-left {
    .header-logo {
      font-size: 2.4rem;
      font-weight: bold;
      display: block;
      padding: 15px 0;
    }
    .back {
      font-weight: bold;
      font-size: 2.4rem;
      padding: 10px 20px;
    }
  } 
  .header-right {
    a {
      display: inline-block;
      padding: 20px 0;
    }
    #post {
      background-color: #38b48b;
      color: #fff;
      margin-top: 11px;
      margin-right: 5px;
      padding: 5px 10px;
      border-radius: 3px;
    }
    #check {
      font-size: 2.2rem;
      padding-top: 13px;
      padding-right: 35px;
    }
    .config {
      font-size: 2.4rem;
      padding-top: 11px;
      padding-right: 20px;
    }
  }
}
//コンテナレイアウト
.container {
  margin: 0 auto;
  @mixin title-style {
    border-bottom: 1px solid #333;
    margin: 0 auto;
    padding: 20px 10px 5px;
    text-align: left;
    font-weight: bold;
  }
  .contents {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0;
    text-align: center;
    .row {
      display: flex;
      justify-content: space-around;
      justify-content: center;
    }
    .picture {
      width: 250px;
      height: 200px;
      margin: 5px;
    }
  }
  .create-contents {
    padding: 50px 0;
    text-align: center;
    .post-title {
      width: 800px;
      @include title-style;
    }
  }
  .show-contents {
    padding-bottom: 20px;
    text-align: center;
    .post-title {
      width: 950px;
      @include title-style;
    }
  }
  .user-area {
    width: 950px;
    margin: 0 auto;
    padding:  15px 10px 5px;
    text-align: left;
    .user-picture {
      width: 40px;
      height: 40px;  
      border: 1px solid #696969;
      border-radius: 30px; 
      padding: 2px;
    }
    .user-name {
      padding: 20px 10px;
    }
  }
  #picture { 
    width: 800px;
    height: 500px;
    padding-top: 110px;
    margin: 0 auto;
    display: block;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    outline: 0;
    font-size: 1.4rem;
    background-color: #f5f5f5;
    .my-big1 {
      color: #fff;
      font-size: 24rem;
    }
  }
  .file {
    display: none;
  }
  .post-picture {
    width: 950px;
    height: 600px;
  }
  .title {
    border: none;
    width: 100%;
    font-size: 1.6rem;
    outline: 0;
  }
  .date {
    width: 950px;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: left;
    padding: 10px 10px 0; 
  }
  #image img {
    width: 800px;
    height: 500px;
  }
}
//フッターレイアウト
footer {
  padding: 50px;
  background-color: #696969;
  display: flex;
  .footer-inner {
    text-align: center;
    color: #fff;
    background-color: #696969;
  }
}
//モーダルレイアウト
#check-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  display: none;
}
.modal {
  position: absolute;
  top: 33%;
  left: 32%;
  background-color: #e6ecf0;
  border-radius: 10px;
  width: 500px;
  height: auto;
  text-align: center;
}
.msg-area {
  border-bottom: 1px solid #c3c3c3;
  padding: 30px 0 10px;
}
.modal-title {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0 8px;
}
.modal-msg {
  margin-top: 5px;
  margin-bottom: 20px;
}
.btn-area {
  display: flex;
  .back {
    color: royalblue;
    border-right: 1px solid#c3c3c3;
    width: 50%;
    padding: 15px 0;
  }
  .delete {
    color: red;
    width: 50%;
    padding: 15px 0;
  }
}
//user関連レイアウト
.user-contents {
  padding-bottom: 50px;
  .user-area {
    width: 1000px;
    margin-bottom: 20px;
    border-bottom: 1px solid #a9a9a9;
    padding: 30px 50px 0px;
    .user-picture {
      width: 100px;
      height: 100px;
      border-radius: 80px;
    }
    .user-name {
      font-size: 2.4rem;
      padding: 10px 20px;
    }
    .my-big2 {
      margin-left: 550px;
      font-size: 2.4rem;
      background-color: #b1b1b1;
      color: #fff;
      padding: 20px;
      border-radius: 50px;
      vertical-align: bottom;
    }
    .introduction {
      padding: 30px 0;
    }
  }
  .row {
    display: flex;
    justify-content: space-around;
    .col {
      margin-bottom: 10px;
      .post-picture {
        width: 480px;
        height: 330px;
      }
      .post-title {
        font-weight: bold;
        padding-left: 5px;
        border-bottom: 1px solid #333;
      }
    }
  }
}
//レスポンシブデザイン
@media (max-width: 575px) {
  body {
    font-size: 0.8rem;
  }
  header {
    .header-left {
      .header-logo {
        font-size: 1.4rem;
        padding: 10px 0;
      }
      .back {
        font-weight: bold;
        font-size: 1.4rem;
        padding: 10px 0px;
      }
    } 
    .header-right {
      a {
        display: inline-block;
        padding: 12px 0;
      }
      #post {
        background-color: #38b48b;
        color: #fff;
        margin-top: 9px;
        margin-right: 0px;
        padding: 5px 5px;
        font-size: 0.8rem;
      }
      #check {
        font-size: 1.2rem;
        padding-top: 11px;
        padding-right: 0px;
      }
      .config {
        font-size: 1.6rem;
        padding-top: 11px;
        padding-right: 20px;
      }
    }
  }
  .container {
    max-width: 540px;
    .contents {
        padding: 20px 0;
      .row {
        flex-direction: column;
      }
      .col {
        border-bottom: 1px solid #c3c3c3;
      }
      .picture {
        width: 350px;
        height: 250px;
      }
    }
    .show-contents {
      .post-title {
        width: 100%;
        padding: 10px 10px 5px;
      }
    }
    .user-area {
      width: 100%;
    }
    .post-picture {
      width: 100%;
      height: 250px;
    }
    .date {
      width: 100%;
      font-size: 0.8rem;
      padding: 5px 10px 0; 
    }
    .create-contents {
      padding: 30px 0;
      .post-title {
        width: 350px;
      }
    }
    #picture { 
      width: 350px;
      height: 200px;
      padding-top: 50px;
      font-size: 0.8rem;
      .my-big1 {
        font-size: 8.0rem;
      }
    }
    .title {
      font-size: 0.8rem;
    }
    #image img {
      width: 350px;
      height: 200px;
    }
  }
  .modal {
    top: 25%;
    left: 11%;
    border-radius: 5px;
    width: 300px;
  }
  .msg-area {
    border-bottom: 1px solid #c3c3c3;
    padding: 20px 0 0;
  }
  .modal-msg {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .btn-area {
    .back {
      padding: 10px 0;
      font-size: 0.8rem;
    }
    .delete {
      font-size: 0.8rem;
    }
  }
  .user-contents {
    padding-bottom: 40px;
    .user-area {
      padding: 20px 30px 10px;
      border-bottom: 1px solid #a9a9a9;
      .user-picture {
        width: 50px;
        height: 50px;
      }
      .user-name {
        font-size: 1.2rem;
        padding: 10px;
      }
      .my-big2 {
        margin-left: 150px;
        font-size: 1.2rem;
        color: #fff;
        padding: 10px;
      }
      .introduction {
        padding: 10px 0;
      }
    }
    .row {
      display: flex;
      flex-direction: column;
      .col {
        margin-bottom: 10px;
        text-align: center;
        border-bottom: 1px solid #a9a9a9;
        .post-picture {
          width: 350px;
          height: 200px;
        }
        .post-title {
          font-weight: bold;
          padding: 5px;
          border: none;
          text-align: left;
          max-width: 350px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
    .contents {
      padding: 20px 0;
    .row {
      flex-wrap: wrap;
    }
    .picture {
      width: 350px;
      height: 250px;
    }
    }
    .show-contents {
      .post-title {
        width: 100%;
        padding: 10px 10px 5px;
      }
    }
    .user-area {
      width: 100%;
    }
    .post-picture {
      width: 100%;
      height: 500px;
    }
    .date {
      width: 100%;
      font-size: 0.8rem;
      padding: 5px 10px 0; 
    }
    .create-contents {
      padding: 50px 0;
      .post-title {
        width: 700px;
      }
    }
    #picture { 
      width: 700px;
      height: 400px;
      padding-top: 80px;
      font-size: 0.8rem;
      .my-big1 {
        font-size: 20.0rem;
      }
    }
    #image img {
      width: 700px;
      height: 400px;
    }
    .modal {
      top: 25%;
      left: 18%;
    }
  }
  .user-contents {
    .user-area {
      .my-big2 {
        margin-left: 300px;
      }
    }
    .row {
      .col {
        .post-picture {
          width: 360px;
          height: 210px;
        }
      }
    }
  }
}

