@charset "UTF-8";
// Variables
@import 'variables';
//共通レイアウト
*{
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family:'游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.header-inner, .contents, .create-contents, .show-contents, .user-contents, .edit-user-contents, .footer-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
.user-contents {
  max-width: 800px;
}
.add-contents, .login-contents {
  max-width: 400px;
  margin: 90px auto 100px;
  background-color: #fff;
  padding: 50px;
  border: 1px solid #a9a9a9;
}
.login-contents {
  margin: 90px auto 150px;
}
a {
  text-decoration: none;
  color: #333;
  cursor: default;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  font-size: 1.6rem;
  font-family:'游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, sans-serif;
  color: #333;
}
input {
  font-size: 1.4rem;
  padding: 10px;
}
//ヘッダーレイアウト
header {
  background-color: #fff;
  border-bottom: 1px solid #a9a9a9;
  .header-inner {
    display: flex;
    justify-content : space-between;
    padding: 0px 25px;
  }
  .header-left {
    .header-logo {
      font-size: 2.4rem;
      font-weight: bold;
      display: block;
      padding: 15px 0;
    }
    .back {
      display: block;
      font-weight: bold;
      font-size: 2.4rem;
      padding: 5px 20px;
    }
    .back2 {
      font-weight: bold;
      font-size: 2.4rem;
      padding: 10px 0 10px 180px;
    }
    .back3 {
      display: block;
      font-weight: bold;
      font-size: 2.4rem;
      padding: 20px 0 20px 110px;
    }
  } 
  .header-right {
    a {
      display: inline-block;
    }
    #post {
      background-color: #38b48b;
      color: #fff;
      margin-top: 6px;
      margin-right: 5px;
      padding: 5px 10px;
      border-radius: 3px;
    }
    #check {
      font-size: 2.2rem;
      padding-top: 8px;
      padding-right: 35px;
    }
    .config {
      font-size: 2.4rem;
      padding-right: 100px;
      padding-top: 20px;
    }
    #edit {
      margin-right: 170px;
      background-color: #38b48b;
      color: #fff;
      margin-top: 11px;
      padding: 5px 10px;
      border-radius: 3px;
    }
    .user-picture {
      width: 40px;
      height: 40px;  
      border: 1px solid #696969;
      border-radius: 30px; 
      margin: 10px 0;
    }
    .login, .register {
      padding: 20px 0;
    }
  }
}
//コンテナレイアウト
.container {
  margin: 0 auto;
  @mixin title-style {
    border-bottom: 1px solid #333;
    margin: 0 auto;
    padding: 10px 10px 5px;
    text-align: left;
    font-weight: bold;
    text-align: center;
  }
  .contents {
    max-width: 1200px;
    height: 690px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0px;
    .row {
      max-width: 1040px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      // height: 630px;
    }
    .picture {
      width: 250px;
      height: 200px;
      margin: 5px;
    }
  }
  .create-contents {
    padding: 50px 0;
    text-align: center;
    .post-title {
      width: 800px;
      @include title-style;
    }
  }
  .show-contents {
    padding-bottom: 20px;
    text-align: center;
    .post-title {
      width: 950px;
      @include title-style;
      p {
        text-align: left;
      }
    }
  }
  .user-area {
    width: 950px;
    margin: 0 auto;
    padding:  15px 10px 5px;
    text-align: left;
    .user-picture {
      width: 40px;
      height: 40px;  
      border: 1px solid #696969;
      border-radius: 30px; 
    }
    .user-name {
      padding: 20px 10px;
    }
  }
  #picture { 
    width: 800px;
    height: 500px;
    padding-top: 110px;
    margin: 0 auto;
    display: block;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    outline: 0;
    font-size: 1.4rem;
    background-color: #f5f5f5;
    .my-big1 {
      color: #fff;
      font-size: 24rem;
    }
  }
  .file {
    display: none;
  }
  .post-picture {
    width: 950px;
    height: 600px;
  }
  .title {
    border: none;
    width: 100%;
    font-size: 1.6rem;
    outline: 0;
  }
  .date {
    width: 950px;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: left;
    padding: 10px 10px 0; 
  }
  #image img {
    width: 800px;
    height: 500px;
  }
}
//フッターレイアウト
footer {
  padding: 50px;
  background-color: #696969;
  display: flex;
  .footer-inner {
    text-align: center;
    color: #fff;
    background-color: #696969;
  }
}
//モーダルレイアウト
#check-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  display: none;
}
.modal {
  position: absolute;
  top: 33%;
  left: 32%;
  background-color: #e6ecf0;
  border-radius: 10px;
  width: 500px;
  height: auto;
  text-align: center;
}
.msg-area {
  border-bottom: 1px solid #a9a9a9;
  padding: 30px 0 10px;
}
.modal-title {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0 8px;
}
.modal-msg {
  margin-top: 5px;
  margin-bottom: 20px;
}
.btn-area {
  display: flex;
  .back {
    color: royalblue;
    border-right: 1px solid#a9a9a9;
    width: 50%;
    padding: 15px 0;
  }
  .delete {
    color: red;
    width: 50%;
    padding: 15px 0;
  }
}
//user関連レイアウト
.user-contents {
  padding-bottom: 50px;
  .user-area {
    width: 800px;
    margin-bottom: 20px;
    border-bottom: 1px solid #a9a9a9;
    padding: 50px 50px 0px;
    .user-picture {
      width: 80px;
      height: 80px;
      border-radius: 80px;
    }
    .user-name {
      font-size: 2.4rem;
      padding: 10px 20px;
    }
    .my-big2 {
      margin-left: 300px;
      font-size: 1.8rem;
      background-color: #b1b1b1;
      color: #fff;
      padding: 20px;
      border-radius: 50px;
      vertical-align: bottom;
    }
    .introduction {
      padding: 30px 0;
    }
  }
  .col {
    display: flex;
    margin-bottom: 50px;
    .post-picture {
      width: 100%;
      height: 450px;
    }
    .post-title {
      font-weight: bold;
      padding-left: 5px;
      border-bottom: 1px solid #333;
    }
  }
}
.edit-user-contents {
  max-width: 700px;
  padding-top: 30px;
  border-right: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
  .picture-flie {
    padding-left: 30px;
    #user-picture {
      display: block;
      width: 80px;
      height: 80px;
      background-color: #f5f5f5;
      border: 1px solid #a9a9a9;
      border-radius: 50px;
      text-align: center;
      color: #fff;
      padding: 0 18px;
      .my-big3 {
        padding-top: 13px;
        font-size: 5.2rem;
      }
    }
    #user-image img {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 50px;
      text-align: center;
    }
  }
  .user-name {
    padding-left: 40px;
    margin-top: 20px;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    #name {
      padding: 20px 0;
      padding-left: 67px;
      width: 73%;
      font-size: 1.6rem;
      outline: 0;
      border: none;
    }
  }
  .user-introduction {
    padding: 20px 40px;
    border-bottom: 1px solid #a9a9a9;
    label {
      vertical-align: top;
    }
    textarea {
      padding-left: 35px;
      width: 80%;
      font-size: 1.6rem;
      outline: 0;
      resize: none;
      border:none;
    }
  }
  .logout, .user-delete {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
    .logout-btn, .delete-btn{
      color: red;
    }
  }
  .col2 {
    padding: 20px;
    background-color: #e9edf3;
    border-bottom: 1px solid #a9a9a9;
  }
  .col3 {
    padding: 50px;
    background-color: #e9edf3;
    border-bottom: 1px solid #a9a9a9;
  }
}
.add-contents, .login-contents {
  text-align: center;
  .add-user, .login-user {
    input {
      display: block;
      width: 100%;
      margin: 15px 0;
    }
    .title {
      border-bottom: 1px solid #a9a9a9;
      font-weight: bold;
      padding-bottom: 5px;
      margin-bottom: 20px;
    }
    .add, .login {
      background-color: #38b48b;
      color: #fff;
      border: none;
      border-radius: 3px;
      margin-bottom: 30px;
    }
    .login {
      background-color: #c4972f;
    }
  }
  a {
    color: royalblue;
  }
}

//レスポンシブデザイン
@media (max-width: 575px) {
  body {
    font-size: 0.8rem;
  }
  input {
    font-size: 0.8rem;
  }
  header {
    .header-left {
      .header-logo {
        font-size: 1.4rem;
        padding: 10px 0;
      }
      .back {
        font-weight: bold;
        font-size: 1.4rem;
        padding: 10px 0px;
      }
      .back2 {
        font-size: 1.2rem;
        padding: 10px 0 10px 10px;
      }
      .back3 {
        font-size: 1.2rem;
        padding: 20px 0 20px 10px;
      }
    } 
    .header-right {
      a {
        display: inline-block;
        padding: 12px 0;
      }
      #post {
        margin-top: 9px;
        margin-right: 0px;
        padding: 5px 5px;
        font-size: 0.8rem;
      }
      #check {
        font-size: 1.2rem;
        padding-top: 11px;
        padding-right: 0px;
      }
      .config {
        font-size: 1.6rem;
        padding: 20px 10px;
      }
      #edit {
        margin-right: 5px;
        margin-top: 8px;
        padding: 2px 5px;
        font-size: 1.2rem;
      }
    }
  }
  .container {
    max-width: 540px;
    .contents {
        padding: 20px 0;
        text-align: center;
        height: auto;
      .row {
        flex-direction: column;
      }
      .col {
        border-bottom: 1px solid #a9a9a9;
      }
      .picture {
        width: 350px;
        height: 250px;
      }
    }
    .show-contents {
      .post-title {
        width: 100%;
        padding: 10px 10px 5px;
      }
    }
    .user-area {
      width: 100%;
    }
    .post-picture {
      width: 100%;
      height: 250px;
    }
    .date {
      width: 100%;
      font-size: 0.8rem;
      padding: 5px 10px 0; 
    }
    .create-contents {
      padding: 30px 0;
      .post-title {
        width: 350px;
      }
    }
    #picture { 
      width: 350px;
      height: 200px;
      padding-top: 50px;
      font-size: 0.8rem;
      .my-big1 {
        font-size: 8.0rem;
      }
    }
    .title {
      font-size: 0.8rem;
    }
    #image img {
      width: 350px;
      height: 200px;
    }
  }
  .modal {
    top: 25%;
    left: 11%;
    border-radius: 5px;
    width: 300px;
  }
  .msg-area {
    border-bottom: 1px solid #a9a9a9;
    padding: 20px 0 0;
  }
  .modal-msg {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .btn-area {
    .back {
      padding: 10px 0;
      font-size: 0.8rem;
    }
    .delete {
      font-size: 0.8rem;
    }
  }
  .user-contents {
    padding-bottom: 40px;
    .user-area {
      padding: 20px 30px 10px;
      border-bottom: 1px solid #a9a9a9;
      .user-picture {
        width: 50px;
        height: 50px;
      }
      .user-name {
        font-size: 1.2rem;
        padding: 10px;
      }
      .my-big2 {
        margin-left: 150px;
        font-size: 1.2rem;
        color: #fff;
        padding: 10px;
      }
      .introduction {
        padding: 10px 0;
      }
    }
    .col {
      margin-bottom: 10px;
      text-align: center;
      border-bottom: 1px solid #a9a9a9;
      .post-picture {
        // width: 350px;
        height: 200px;
      }
      .post-title {
        font-weight: bold;
        padding: 5px;
        border: none;
        text-align: left;
        max-width: 350px;
        margin: 0 auto;
      }
    }
  }
  .edit-user-contents {
    border-right: none;
    border-left: none;
    .picture-flie {
      padding-left: 30px;
      #user-picture {
        width: 50px;
        height: 50px;
        padding: 0 15px;
        .my-big3 {
          padding-top: 13px;
          font-size: 2.3rem;
        }
      }
      #user-image img {
        width: 50px;
        height: 50px;
      }
    }
    .user-name {
      #name {
        margin-left: 39px;
        width: 63%;
        font-size: 0.8rem;
      }
    }
    .user-introduction {
      textarea {
        margin-left: 20px;
        width: 75%;
        font-size: 0.8rem;
      }
    }
    .logout, .user-delete {
      padding: 15px;
      .logout-btn, .delete-btn{
        font-size: 0.8rem;
      }
    }
    .col2 {
      padding: 10px;
    }
    .col3 {
      padding: 30px;
    }
  }
  .add-contents, .login-contents {
    max-width: 300px;
    margin: 40px auto 50px;
    padding: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    .header-left {
      .back2 {
        padding: 10px 0 10px 50px;
      }
      .back3 {
        padding: 20px 0 20px 40px;
      }
    } 
    .header-right {
      #edit {
        margin-right: 40px;
        margin-top: 12px;
      }
      .config {
        padding-right: 30px;
      }
    }
  }
  .container {
    max-width: 768px;
    .contents {
      padding: 20px 0;
      height: auto;
    .row {
      flex-wrap: wrap;
      max-width: 720px;
    }
    .picture {
      width: 350px;
      height: 250px;
    }
    }
    .show-contents {
      .post-title {
        width: 100%;
        padding: 10px 10px 5px;
      }
    }
    .user-area {
      width: 100%;
    }
    .post-picture {
      width: 100%;
      height: 500px;
    }
    .date {
      width: 100%;
      font-size: 0.8rem;
      padding: 5px 10px 0; 
    }
    .create-contents {
      padding: 50px 0;
      .post-title {
        width: 700px;
      }
    }
    #picture { 
      width: 700px;
      height: 400px;
      padding-top: 80px;
      font-size: 0.8rem;
      .my-big1 {
        font-size: 20.0rem;
      }
    }
    #image img {
      width: 700px;
      height: 400px;
    }
    .modal {
      top: 25%;
      left: 18%;
    }
  }
  .user-contents {
    .user-area {
      .my-big2 {
        margin-left: 300px;
      }
    }
  }
}

