@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", "\6E38\30B4\30B7\30C3\30AF\4F53", "Yu Gothic Medium", YuGothic, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header-inner,
.contents,
.create-contents,
.show-contents,
.user-contents,
.edit-user-contents,
.delete-user-contents,
.footer-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.user-contents {
  max-width: 800px;
}

.register-contents {
  max-width: 500px;
  margin: 70px auto;
  background-color: #fff;
  padding: 50px 80px;
  border: 1px solid #a9a9a9;
}

.login-contents {
  max-width: 400px;
  margin: 90px auto 150px;
  background-color: #fff;
  padding: 50px;
  border: 1px solid #a9a9a9;
}

a {
  text-decoration: none;
  color: #333;
  cursor: default;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.6rem;
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", "\6E38\30B4\30B7\30C3\30AF\4F53", "Yu Gothic Medium", YuGothic, sans-serif;
  color: #333;
}

input {
  font-size: 1.4rem;
  padding: 10px;
}

ul {
  list-style: none;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #a9a9a9;
}

header .header-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0px 25px;
}

header .header-left .header-logo {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 15px 0;
  margin: 0;
}

header .header-left .header-back {
  display: block;
  font-weight: bold;
  font-size: 2.4rem;
}

header .header-left .header-back_profile {
  margin: 10px 0 10px 120px;
}

header .header-left .header-back_edit,
header .header-left .header-back_delete {
  margin: 10px 0 10px 170px;
}

header .header-left .header-back_show,
header .header-left .header-back_create {
  margin: 10px 20px;
}

header .header-right .utility-item {
  display: -webkit-box;
  display: flex;
}

header .header-right .utility-item .utility-item_login {
  display: inline-block;
  padding: 20px 10px;
}

header .header-right .utility-item .utility-item_register {
  display: inline-block;
  padding: 20px 0px;
}

header .header-right .utility-item .utility-item_config {
  font-size: 2.4rem;
  margin: 11px 100px 0;
}

header .header-right .utility-item .utility-button {
  background-color: #38b48b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

header .header-right .utility-item .utility-item_edit {
  margin: 12px 170px 0 0;
}

header .header-right .utility-item .utility-item_post {
  margin: 10px 5px;
}

header .header-right .utility-item .utility-item_trash {
  font-size: 2.2rem;
  margin: 14px 35px 0 0;
}

header .header-right .login-user_picture {
  width: 40px;
  height: 40px;
  border: 1px solid #696969;
  border-radius: 30px;
  margin-top: 14px;
}

.container {
  margin: 0 auto;
}

.container .contents {
  max-width: 1200px;
  height: 750px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0px;
}

.container .contents .row {
  max-width: 1040px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container .contents .picture {
  width: 250px;
  height: 200px;
  margin: 5px;
}

.container .create-contents {
  padding: 50px 0;
  text-align: center;
}

.container .create-contents .post-title {
  width: 800px;
  border-bottom: 1px solid #333;
  margin: 0 auto;
  padding: 10px 10px 5px;
  text-align: left;
  font-weight: bold;
  text-align: center;
}

.container .create-contents .error-message {
  text-align: center;
  background-color: pink;
  margin: 0 100px;
}

.container .create-contents .picture .error-message {
  margin: 30px 0;
}

.container .create-contents .picture {
  width: 800px;
  height: 500px;
  padding-top: 110px;
  margin: 0 auto;
  display: block;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  outline: 0;
  font-size: 1.4rem;
  background-color: #f5f5f5;
}

.container .create-contents .picture .my-big1 {
  color: #fff;
  font-size: 24rem;
}

.container .show-contents {
  padding-bottom: 20px;
  text-align: center;
}

.container .show-contents .post-title {
  width: 930px;
  border-bottom: 1px solid #333;
  margin: 0 auto;
  padding: 10px 10px 5px;
  text-align: left;
  font-weight: bold;
  text-align: center;
}

.container .show-contents .post-title p {
  text-align: left;
}

.container .user-area {
  width: 930px;
  margin: 0 auto;
  padding: 15px 10px 5px;
  text-align: left;
}

.container .user-area .user-picture {
  width: 40px;
  height: 40px;
  border: 1px solid #696969;
  border-radius: 30px;
}

.container .user-area .user-name {
  padding: 20px 10px;
}

.container .file {
  display: none;
}

.container .post-picture {
  width: 930px;
  height: 580px;
}

.container .title {
  border: none;
  width: 100%;
  font-size: 1.6rem;
  outline: 0;
}

.container .date {
  width: 930px;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: left;
  padding: 10px 10px 0;
}

.container .image img {
  width: 800px;
  height: 500px;
}

.register-done-contents {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 110px 0 120px;
}

.register-done-contents .done-message {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: bold;
  color: #38b48b;
}

.register-done-contents .img1 {
  border-radius: 200px;
  height: 250px;
  width: 250px;
}

.register-done-contents .btn {
  display: block;
  width: 150px;
  padding: 5px 10px;
  background-color: #38b48b;
  color: #fff;
  border-radius: 20px;
  margin: 30px auto 0;
}

footer {
  padding: 70px;
  background-color: #696969;
  display: -webkit-box;
  display: flex;
}

footer .footer-inner {
  text-align: center;
  color: #fff;
  background-color: #696969;
}

.check-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 33%;
  left: 32%;
  background-color: #e6ecf0;
  border-radius: 10px;
  width: 500px;
  height: auto;
  text-align: center;
}

.msg-area {
  border-bottom: 1px solid #a9a9a9;
  padding: 30px 0 10px;
}

.modal-title {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0 8px;
}

.modal-msg {
  margin-top: 5px;
  margin-bottom: 20px;
}

.btn-area {
  display: -webkit-box;
  display: flex;
}

.btn-area .back {
  color: royalblue;
  border-right: 1px solid #a9a9a9;
  width: 50%;
  padding: 15px 0;
}

.btn-area .delete {
  color: red;
  width: 50%;
  padding: 15px 0;
}

.user-contents {
  padding-bottom: 50px;
}

.user-contents .user-area {
  width: 800px;
  margin-bottom: 20px;
  border-bottom: 1px solid #a9a9a9;
  padding: 50px 50px 0px;
}

.user-contents .user-area .user-picture {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.user-contents .user-area .user-name {
  font-size: 2.4rem;
  padding: 10px 20px;
}

.user-contents .user-area .my-big2 {
  margin-left: 300px;
  font-size: 1.8rem;
  background-color: #b1b1b1;
  color: #fff;
  padding: 20px;
  border-radius: 50px;
  vertical-align: bottom;
}

.user-contents .user-area .introduction {
  max-width: 600px;
  padding: 30px 0;
}

.user-contents .posts-area1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 80px 0 150px;
  margin-top: 40px;
  background-color: #e9edf3;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.user-contents .posts-area1 .message1 {
  font-size: 1.8rem;
  margin: 0 auto 20px;
  font-weight: bold;
  padding: 30px 0 0;
}

.user-contents .posts-area1 .btn {
  margin: 0 auto;
  text-align: center;
  background-color: tomato;
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}

.user-contents .posts-area2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 40px 0 70px;
  margin-top: 40px;
  background-color: #e9edf3;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.user-contents .posts-area2 .message2 {
  margin: 0 auto;
  font-weight: bold;
}

.user-contents .posts-area2 .picture-flie {
  margin: 0 auto;
}

.user-contents .posts-area2 .picture {
  display: block;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  outline: 0;
  font-size: 1.4rem;
  background-color: #f5f5f5;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  margin: 30px;
  width: 450px;
  height: 280px;
}

.user-contents .posts-area2 .btn {
  padding: 5px 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #38b48b;
  color: #fff;
  border-radius: 3px;
}

.user-contents .posts-area2 .my-big2 {
  font-size: 16rem;
  color: #fff;
}

.user-contents .posts-area3 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 20px;
}

.user-contents .posts-area3 .post-picture {
  width: 100%;
  height: 450px;
}

.user-contents .posts-area3 .post-title {
  font-weight: bold;
  padding-left: 5px;
  border-bottom: 1px solid #333;
}

.edit-user-contents,
.delete-user-contents {
  max-width: 700px;
  padding-top: 30px;
  border-right: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
}

.edit-user-contents .picture-flie .user-picture,
.delete-user-contents .picture-flie .user-picture {
  margin-left: 30px;
  margin-bottom: 20px;
  display: block;
  width: 80px;
  height: 80px;
  background-color: #f5f5f5;
  border: 1px solid #a9a9a9;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  padding: 0 18px;
}

.edit-user-contents .picture-flie .user-picture .my-big3,
.delete-user-contents .picture-flie .user-picture .my-big3 {
  padding-top: 13px;
  font-size: 5.2rem;
}

.edit-user-contents .picture-flie .user-image img,
.delete-user-contents .picture-flie .user-image img {
  margin-left: 30px;
  margin-bottom: 20px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
}

.edit-user-contents .user-name,
.delete-user-contents .user-name {
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.edit-user-contents .user-name .name,
.delete-user-contents .user-name .name {
  padding: 20px 0;
  padding-left: 67px;
  width: 73%;
  font-size: 1.6rem;
  outline: 0;
  border: none;
}

.edit-user-contents .user-name label,
.delete-user-contents .user-name label {
  padding-left: 40px;
}

.edit-user-contents .user-introduction,
.delete-user-contents .user-introduction {
  padding-top: 20px;
  border-bottom: 1px solid #a9a9a9;
}

.edit-user-contents .user-introduction label,
.delete-user-contents .user-introduction label {
  vertical-align: top;
  padding-left: 40px;
}

.edit-user-contents .user-introduction textarea,
.delete-user-contents .user-introduction textarea {
  padding-left: 35px;
  margin-bottom: 20px;
  width: 80%;
  font-size: 1.6rem;
  outline: 0;
  resize: none;
  border: none;
}

.edit-user-contents .logout,
.edit-user-contents .user-delete,
.delete-user-contents .logout,
.delete-user-contents .user-delete {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}

.edit-user-contents .logout .logout-btn,
.edit-user-contents .logout .delete-btn,
.edit-user-contents .user-delete .logout-btn,
.edit-user-contents .user-delete .delete-btn,
.delete-user-contents .logout .logout-btn,
.delete-user-contents .logout .delete-btn,
.delete-user-contents .user-delete .logout-btn,
.delete-user-contents .user-delete .delete-btn {
  color: red;
}

.edit-user-contents .col2,
.delete-user-contents .col2 {
  padding: 20px;
  background-color: #e9edf3;
  border-bottom: 1px solid #a9a9a9;
}

.edit-user-contents .col3,
.delete-user-contents .col3 {
  padding: 50px;
  background-color: #e9edf3;
  border-bottom: 1px solid #a9a9a9;
}

.edit-user-contents .error-message,
.delete-user-contents .error-message {
  text-align: center;
  background-color: pink;
}

.edit-user-contents .delete-area,
.delete-user-contents .delete-area {
  background-color: #e9edf3;
  text-align: center;
}

.edit-user-contents .delete-area .delete-message,
.delete-user-contents .delete-area .delete-message {
  padding: 50px 20px 0;
  font-weight: bold;
}

.edit-user-contents .delete-area .delete-btn,
.delete-user-contents .delete-area .delete-btn {
  padding: 5px 10px;
  background-color: tomato;
  color: #fff;
  border-radius: 5px;
  margin: 30px 0 150px;
}

.register-contents,
.login-contents {
  text-align: center;
}

.register-contents .register-user input,
.register-contents .login-user input,
.login-contents .register-user input,
.login-contents .login-user input {
  display: block;
  width: 100%;
  margin: 15px 0;
}

.register-contents .register-user .title,
.register-contents .login-user .title,
.login-contents .register-user .title,
.login-contents .login-user .title {
  border-bottom: 1px solid #a9a9a9;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.register-contents .register-user .register,
.register-contents .register-user .login,
.register-contents .login-user .register,
.register-contents .login-user .login,
.login-contents .register-user .register,
.login-contents .register-user .login,
.login-contents .login-user .register,
.login-contents .login-user .login {
  background-color: #38b48b;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-bottom: 30px;
}

.register-contents .register-user .login,
.register-contents .login-user .login,
.login-contents .register-user .login,
.login-contents .login-user .login {
  background-color: #c4972f;
}

.register-contents a,
.login-contents a {
  color: royalblue;
}

.pagination {
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-top: 15px;
  -webkit-box-pack: center;
          justify-content: center;
}

.pagination ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #333;
  background-color: #fff;
  border: 1px solid #696969;
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 75%;
  color: #e3342f;
}

.top-contents {
  width: 100%;
  height: 650px;
  text-align: center;
  background-size: cover;
}

.top-contents .catch-copy {
  font-weight: bold;
  color: #fff;
  font-size: 4.8rem;
  padding-top: 220px;
}

.top-contents .btn {
  font-weight: bold;
  color: #fff;
  font-size: 2.4rem;
  display: inline-block;
  margin-top: 50px;
  background-color: #f8b500;
  padding: 5px 50px;
  border-radius: 5px;
}

.service-contents {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

.service-contents .description {
  font-weight: bold;
  font-size: 2.4rem;
  margin: 30px 0;
}

.service-contents .services .service {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 30px 80px;
}

.service-contents .services .service .text-content,
.service-contents .services .service .service-image {
  height: 300px;
  width: 450px;
  text-align: left;
}

.service-contents .services .service .reverce2 {
  -webkit-box-ordinal-group: 2;
          order: 1;
}

@media (max-width: 575px) {
  body {
    font-size: 0.8rem;
  }

  input {
    font-size: 0.8rem;
  }

  header .header-left .header-logo {
    font-size: 1.4rem;
    padding: 10px 0;
  }

  header .header-left .header-back {
    margin: 10px 0;
    font-size: 1.2rem;
  }

  header .header-right .utility-item .utility-item_login {
    padding: 13px 5px;
  }

  header .header-right .utility-item .utility-item_register {
    padding: 13px 0;
  }

  header .header-right .utility-item .utility-item_config {
    font-size: 1.2rem;
    margin: 10px 10px 0;
  }

  header .header-right .utility-item .utility-button {
    padding: 2px 5px;
    font-size: 1.2rem;
  }

  header .header-right .utility-item .utility-item_edit {
    margin: 8px 0;
  }

  header .header-right .utility-item .utility-item_post {
    margin: 9px 0;
  }

  header .header-right .utility-item .utility-item_trash {
    font-size: 1.2rem;
    margin: 9px 0 0;
  }

  header .header-right .login-user_picture {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }

  .container {
    max-width: 540px;
  }

  .container .contents {
    padding: 20px 0;
    text-align: center;
    height: auto;
  }

  .container .contents .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .container .contents .col {
    border-bottom: 1px solid #a9a9a9;
  }

  .container .contents .picture {
    width: 350px;
    height: 250px;
  }

  .container .show-contents .post-title {
    width: 100%;
    padding: 10px 10px 5px;
  }

  .container .user-area {
    width: 100%;
  }

  .container .post-picture {
    width: 100%;
    height: 250px;
  }

  .container .date {
    width: 100%;
    font-size: 0.8rem;
    padding: 5px 10px 0;
  }

  .container .create-contents {
    padding: 30px 0;
  }

  .container .create-contents .post-title {
    width: 350px;
  }

  .container .create-contents .picture {
    width: 350px;
    height: 200px;
    padding-top: 50px;
    font-size: 0.8rem;
  }

  .container .create-contents .picture .my-big1 {
    font-size: 8rem;
  }

  .container .title {
    font-size: 0.8rem;
  }

  .container .image img {
    width: 350px;
    height: 200px;
  }

  .modal {
    top: 25%;
    left: 11%;
    border-radius: 5px;
    width: 300px;
  }

  .msg-area {
    border-bottom: 1px solid #a9a9a9;
    padding: 20px 0 0;
  }

  .modal-msg {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .btn-area .back {
    padding: 10px 0;
    font-size: 0.8rem;
  }

  .btn-area .delete {
    font-size: 0.8rem;
  }

  .user-contents {
    padding-bottom: 40px;
  }

  .user-contents .user-area {
    padding: 20px 20px 0px;
    border-bottom: 1px solid #a9a9a9;
  }

  .user-contents .user-area .user-picture {
    width: 50px;
    height: 50px;
  }

  .user-contents .user-area .user-name {
    font-size: 1.2rem;
    padding: 10px;
  }

  .user-contents .user-area .my-big2 {
    margin-left: 150px;
    font-size: 1.2rem;
    color: #fff;
    padding: 10px;
  }

  .user-contents .user-area .introduction {
    padding: 10px 0;
  }

  .user-contents .posts-area1 .message1 {
    font-size: 1.2rem;
  }

  .user-contents .posts-area2 .picture {
    width: 250px;
    height: 150px;
    padding-top: 25px;
  }

  .user-contents .posts-area2 .my-big2 {
    font-size: 10rem;
  }

  .user-contents .posts-area3 {
    text-align: center;
    border-bottom: 1px solid #a9a9a9;
  }

  .user-contents .posts-area3 .post-picture {
    height: 250px;
  }

  .user-contents .posts-area3 .post-title {
    font-weight: bold;
    padding: 5px;
    border: none;
    text-align: left;
    max-width: 350px;
  }

  .edit-user-contents,
  .delete-user-contents {
    border-right: none;
    border-left: none;
    padding-top: 20px;
  }

  .edit-user-contents .picture-flie .user-picture,
  .delete-user-contents .picture-flie .user-picture {
    width: 50px;
    height: 50px;
    padding: 0 15px;
    margin: 0px 15px 10px;
  }

  .edit-user-contents .picture-flie .user-picture .my-big3,
  .delete-user-contents .picture-flie .user-picture .my-big3 {
    padding-top: 13px;
    font-size: 2.3rem;
  }

  .edit-user-contents .picture-flie .user-image img,
  .delete-user-contents .picture-flie .user-image img {
    width: 50px;
    height: 50px;
    margin: 0px 15px 10px;
  }

  .edit-user-contents .user-name label,
  .delete-user-contents .user-name label {
    padding-left: 30px;
  }

  .edit-user-contents .user-name .name,
  .delete-user-contents .user-name .name {
    margin-left: 40px;
    padding: 20px 0;
    width: 63%;
    font-size: 0.8rem;
  }

  .edit-user-contents .user-introduction label,
  .delete-user-contents .user-introduction label {
    padding-left: 30px;
  }

  .edit-user-contents .user-introduction textarea,
  .delete-user-contents .user-introduction textarea {
    margin: 0 0 20px 20px;
    padding: 0;
    width: 75%;
    font-size: 0.8rem;
  }

  .edit-user-contents .logout,
  .edit-user-contents .user-delete,
  .delete-user-contents .logout,
  .delete-user-contents .user-delete {
    padding: 15px;
  }

  .edit-user-contents .logout .logout-btn,
  .edit-user-contents .logout .delete-btn,
  .edit-user-contents .user-delete .logout-btn,
  .edit-user-contents .user-delete .delete-btn,
  .delete-user-contents .logout .logout-btn,
  .delete-user-contents .logout .delete-btn,
  .delete-user-contents .user-delete .logout-btn,
  .delete-user-contents .user-delete .delete-btn {
    font-size: 0.8rem;
  }

  .edit-user-contents .col2,
  .delete-user-contents .col2 {
    padding: 10px;
  }

  .edit-user-contents .col3,
  .delete-user-contents .col3 {
    padding: 30px;
  }

  .edit-user-contents .delete-area .delete-btn,
  .delete-user-contents .delete-area .delete-btn {
    font-size: 0.8rem;
    padding: 3px 7px;
  }

  .register-contents,
  .login-contents {
    max-width: 300px;
    margin: 40px auto 50px;
    padding: 30px;
  }

  .register-done-contents .done-message {
    font-size: 2rem;
  }

  .top-contents {
    width: 100%;
    height: 300px;
  }

  .top-contents .catch-copy {
    font-size: 2.2rem;
    padding-top: 100px;
  }

  .top-contents .btn {
    font-size: 1.2rem;
    margin-top: 30px;
    background-color: #f8b500;
    padding: 5px 30px;
  }

  .service-contents {
    padding-bottom: 30px;
  }

  .service-contents .description {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 30px 0;
  }

  .service-contents .services .service {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 0px;
  }

  .service-contents .services .service .text-content,
  .service-contents .services .service .service-image {
    height: 180px;
    width: 300px;
    margin: 0 auto 10px;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .service-contents .services .service .reverce1 {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header .header-left .header-back_profile {
    margin: 10px 0 10px 50px;
  }

  header .header-left .header-back_edit,
  header .header-left .header-back_delete {
    margin: 20px 0 20px 40px;
  }

  header .header-right .utility-item .utility-item_config {
    margin: 10px 30px 0;
  }

  header .header-right .utility-item .utility-item_edit {
    margin: 20px 40px 0 0;
  }

  .container {
    max-width: 768px;
  }

  .container .contents {
    padding: 20px 0;
    height: auto;
  }

  .container .contents .row {
    flex-wrap: wrap;
    max-width: 720px;
  }

  .container .contents .picture {
    width: 350px;
    height: 250px;
  }

  .container .show-contents .post-title {
    width: 100%;
    padding: 10px 10px 5px;
  }

  .container .user-area {
    width: 100%;
  }

  .container .post-picture {
    width: 100%;
    height: 500px;
  }

  .container .date {
    width: 100%;
    font-size: 0.8rem;
    padding: 5px 10px 0;
  }

  .container .create-contents {
    padding: 50px 0;
  }

  .container .create-contents .post-title {
    width: 700px;
  }

  .container .image img {
    width: 700px;
    height: 400px;
  }

  .container .modal {
    top: 25%;
    left: 18%;
  }

  .user-contents .picture {
    width: 700px;
    height: 400px;
    padding-top: 80px;
    font-size: 0.8rem;
  }

  .user-contents .picture .my-big1 {
    font-size: 20rem;
  }

  .user-contents .user-area .my-big2 {
    margin-left: 300px;
  }

  .top-contents {
    height: 450px;
  }

  .top-contents .catch-copy {
    font-size: 3.6rem;
    padding-top: 150px;
  }

  .top-contents .btn {
    font-size: 1.8rem;
  }

  .service-contents .services .service {
    padding: 30px 50px;
  }

  .service-contents .services .service .text-content,
  .service-contents .services .service .service-image {
    height: 200px;
    width: 300px;
    overflow: hidden;
  }
}

