@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", "\6E38\30B4\30B7\30C3\30AF\4F53", "Yu Gothic Medium", YuGothic, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #333;
  cursor: default;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.6rem;
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", "\6E38\30B4\30B7\30C3\30AF\4F53", "Yu Gothic Medium", YuGothic, sans-serif;
  color: #333;
}

input {
  font-size: 1.4rem;
  padding: 10px;
}

ul {
  list-style: none;
}

.header-inner,
.create,
.show,
.profile,
.edit-user,
.delete-user,
.footer-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.profile {
  max-width: 800px;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #a9a9a9;
}

header .header-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0px 25px;
}

header .header-inner .header-left .header-logo {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 15px 0;
  margin: 0;
}

header .header-inner .header-left .header-back {
  display: block;
  font-weight: bold;
  font-size: 2.4rem;
}

header .header-inner .header-left .header-back_profile {
  margin: 10px 0 10px 120px;
}

header .header-inner .header-left .header-back_edit,
header .header-inner .header-left .header-back_delete {
  margin: 10px 0 10px 170px;
}

header .header-inner .header-left .header-back_show,
header .header-inner .header-left .header-back_create {
  margin: 10px 20px;
}

header .header-inner .header-right .utility-item {
  display: -webkit-box;
  display: flex;
}

header .header-inner .header-right .utility-item .utility-item_login {
  display: inline-block;
  padding: 20px 10px;
}

header .header-inner .header-right .utility-item .utility-item_register {
  display: inline-block;
  padding: 20px 0px;
}

header .header-inner .header-right .utility-item .utility-item_config {
  font-size: 2.4rem;
  margin: 11px 100px 0;
}

header .header-inner .header-right .utility-item .utility-button {
  background-color: #38b48b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

header .header-inner .header-right .utility-item .utility-item_edit {
  margin: 12px 170px 0 0;
}

header .header-inner .header-right .utility-item .utility-item_post {
  margin: 10px 5px;
}

header .header-inner .header-right .utility-item .utility-item_trash {
  font-size: 2.2rem;
  margin: 14px 35px 0 0;
}

header .header-inner .header-right .login-user-picture {
  width: 40px;
  height: 40px;
  border: 1px solid #696969;
  border-radius: 30px;
  margin-top: 14px;
}

.container {
  margin: 0 auto;
}

.container .main-view {
  width: 100%;
  height: 650px;
  text-align: center;
  background-size: cover;
}

.container .main-view .catch-copy {
  font-weight: bold;
  color: #fff;
  font-size: 4.8rem;
  padding-top: 220px;
}

.container .main-view .link {
  font-weight: bold;
  color: #fff;
  font-size: 2.4rem;
  display: inline-block;
  margin-top: 50px;
  background-color: #f8b500;
  padding: 5px 50px;
  border-radius: 5px;
}

.container .service-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

.container .service-wrapper .service-description {
  font-weight: bold;
  font-size: 2.4rem;
  margin: 30px 0;
}

.container .service-wrapper .service-contents .service-content {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 30px 80px;
}

.container .service-wrapper .service-contents .service-content .service-concept,
.container .service-wrapper .service-contents .service-content .service-image {
  height: 300px;
  width: 450px;
  text-align: left;
}

.container .service-wrapper .service-contents .service-content .reverce1 {
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.container .register {
  max-width: 500px;
  margin: 70px auto;
  padding: 50px 80px;
}

.container .login {
  max-width: 400px;
  margin: 90px auto 150px;
  padding: 50px;
}

.container .register,
.container .login {
  text-align: center;
  border: 1px solid #a9a9a9;
  background-color: #fff;
}

.container .register .register-form .form-title,
.container .register .login-form .form-title,
.container .login .register-form .form-title,
.container .login .login-form .form-title {
  border-bottom: 1px solid #a9a9a9;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.container .register .register-form .register-input,
.container .register .register-form .login-input,
.container .register .login-form .register-input,
.container .register .login-form .login-input,
.container .login .register-form .register-input,
.container .login .register-form .login-input,
.container .login .login-form .register-input,
.container .login .login-form .login-input {
  display: block;
  width: 100%;
  margin: 15px 0;
}

.container .register .register-form .form-submit,
.container .register .login-form .form-submit,
.container .login .register-form .form-submit,
.container .login .login-form .form-submit {
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-bottom: 30px;
}

.container .register .register-form .register-form_submit,
.container .register .login-form .register-form_submit,
.container .login .register-form .register-form_submit,
.container .login .login-form .register-form_submit {
  background-color: #38b48b;
}

.container .register .register-form .login-form_submit,
.container .register .login-form .login-form_submit,
.container .login .register-form .login-form_submit,
.container .login .login-form .login-form_submit {
  background-color: #c4972f;
}

.container .register .link,
.container .login .link {
  color: royalblue;
}

.container .register-done {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 110px 0 120px;
}

.container .register-done .register-done_message {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: bold;
  color: #38b48b;
}

.container .register-done .register-done_picture {
  border-radius: 200px;
  height: 250px;
  width: 250px;
}

.container .register-done .link {
  display: block;
  width: 150px;
  padding: 5px 10px;
  background-color: #38b48b;
  color: #fff;
  border-radius: 20px;
  margin: 30px auto 0;
}

.container .posts-wrapper {
  max-width: 1200px;
  height: 750px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0px;
  background-color: #fff;
}

.container .posts-wrapper .posts-column {
  max-width: 1040px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container .posts-wrapper .post-picture_small {
  width: 250px;
  height: 200px;
  margin: 5px;
}

.container .pagination {
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-top: 15px;
  -webkit-box-pack: center;
          justify-content: center;
}

.container .pagination ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container .pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #333;
  background-color: #fff;
  border: 1px solid #696969;
}

.container .create {
  padding: 50px 0;
  text-align: center;
}

.container .create .create-post-picture {
  width: 800px;
  height: 500px;
  padding-top: 110px;
  margin: 0 auto;
  display: block;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  outline: 0;
  font-size: 1.4rem;
  background-color: #f5f5f5;
}

.container .create .create-post-picture .fa-image {
  color: #fff;
  font-size: 24rem;
}

.container .create .create-post-picture .error-message {
  margin: 30px 0;
}

.container .create .choice-picture img {
  width: 800px;
  height: 500px;
}

.container .create .input-post-picture {
  display: none;
}

.container .create .create-post-title {
  width: 800px;
  border-bottom: 1px solid #333;
  margin: 0 auto;
  padding: 10px 10px 5px;
  text-align: left;
  font-weight: bold;
  text-align: center;
}

.container .create .create-post-title .post-title {
  border: none;
  width: 100%;
  font-size: 1.6rem;
  outline: 0;
}

.container .create .error-message {
  text-align: center;
  background-color: pink;
  margin: 0 100px;
}

.container .show {
  padding-bottom: 20px;
  text-align: center;
}

.container .show .user-area {
  width: 930px;
  margin: 0 auto;
  padding: 15px 10px 5px;
  text-align: left;
}

.container .show .user-area .user-picture_small {
  width: 40px;
  height: 40px;
  border: 1px solid #696969;
  border-radius: 30px;
}

.container .show .user-area .user-name {
  padding: 20px 10px;
}

.container .show .post-area .post-picture_large {
  width: 930px;
  height: 580px;
}

.container .show .post-area .post-title {
  width: 930px;
  border-bottom: 1px solid #333;
  margin: 0 auto;
  padding: 10px 10px 5px;
  text-align: left;
  font-weight: bold;
  text-align: center;
}

.container .show .post-area .post-title p {
  text-align: left;
}

.container .show .post-area .post-date {
  width: 930px;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: left;
  padding: 10px 10px 0;
}

.container .check-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.container .check-modal .modal {
  position: absolute;
  top: 33%;
  left: 32%;
  background-color: #e6ecf0;
  border-radius: 10px;
  width: 500px;
  height: auto;
  text-align: center;
}

.container .check-modal .modal .message-area {
  border-bottom: 1px solid #a9a9a9;
  padding: 30px 0 10px;
}

.container .check-modal .modal .message-area .modal-title {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0 8px;
}

.container .check-modal .modal .message-area .modal-message {
  margin-top: 5px;
  margin-bottom: 20px;
}

.container .check-modal .modal .button-area {
  display: -webkit-box;
  display: flex;
}

.container .check-modal .modal .button-area .cancell-button {
  color: royalblue;
  border-right: 1px solid #a9a9a9;
  width: 50%;
  padding: 15px 0;
}

.container .check-modal .modal .button-area .delete-button {
  color: red;
  width: 50%;
  padding: 15px 0;
}

.container .profile {
  padding-bottom: 50px;
}

.container .profile .user-area {
  width: 800px;
  margin-bottom: 20px;
  border-bottom: 1px solid #a9a9a9;
  padding: 50px 50px 0px;
}

.container .profile .user-area .user-picture_medium {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 1px solid #a9a9a9;
}

.container .profile .user-area .user-name {
  font-size: 2.4rem;
  padding: 10px 20px;
}

.container .profile .user-area .fa-paper-plane {
  margin-left: 300px;
  font-size: 1.8rem;
  background-color: #b1b1b1;
  color: #fff;
  padding: 20px;
  border-radius: 50px;
  vertical-align: bottom;
}

.container .profile .user-area .user-introduction {
  max-width: 600px;
  padding: 30px 0;
}

.container .profile .no-post_guest {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 160px 0 200px;
  margin-top: 50px;
  background-color: #e9edf3;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.container .profile .no-post_guest .no-post_message {
  font-size: 1.8rem;
  margin: 0 auto 20px;
  font-weight: bold;
  padding: 30px 0 0;
}

.container .profile .no-post_guest .link {
  margin: 0 auto;
  text-align: center;
  background-color: tomato;
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}

.container .profile .no-post_user {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 40px 0 70px;
  margin-top: 40px;
  background-color: #e9edf3;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.container .profile .no-post_user .no-post_message {
  margin: 0 auto;
  font-weight: bold;
}

.container .profile .no-post_user .posts-area {
  margin: 0 auto;
}

.container .profile .no-post_user .create-post-picture {
  display: block;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  outline: 0;
  font-size: 1.4rem;
  background-color: #f5f5f5;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  margin: 30px;
  width: 450px;
  height: 280px;
}

.container .profile .no-post_user .link {
  padding: 5px 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #38b48b;
  color: #fff;
  border-radius: 3px;
}

.container .profile .no-post_user .fa-image {
  font-size: 16rem;
  color: #fff;
}

.container .profile .posts-area {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 20px;
}

.container .profile .posts-area .post-picture_medium {
  width: 100%;
  height: 450px;
}

.container .profile .posts-area .post-title {
  font-weight: bold;
  padding-left: 5px;
  border-bottom: 1px solid #333;
}

.container .edit-user,
.container .delete-user {
  max-width: 700px;
  padding-top: 30px;
  border-right: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
}

.container .edit-user .user-picture-area .edit-user-picture,
.container .edit-user .user-picture-area .delete-user-picture,
.container .delete-user .user-picture-area .edit-user-picture,
.container .delete-user .user-picture-area .delete-user-picture {
  margin-left: 30px;
  margin-bottom: 20px;
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #a9a9a9;
  border-radius: 50px;
  text-align: center;
  color: #fff;
}

.container .edit-user .user-picture-area .edit-user-picture img,
.container .edit-user .user-picture-area .delete-user-picture img,
.container .delete-user .user-picture-area .edit-user-picture img,
.container .delete-user .user-picture-area .delete-user-picture img {
  margin-bottom: 20px;
  display: block;
  width: 78px;
  height: 78px;
  border-radius: 50px;
}

.container .edit-user .user-picture-area .choice-picture,
.container .delete-user .user-picture-area .choice-picture {
  width: 80px;
  height: 80px;
}

.container .edit-user .user-picture-area .choice-picture img,
.container .delete-user .user-picture-area .choice-picture img {
  margin-left: 30px;
  margin-bottom: 20px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
}

.container .edit-user .user-picture-area .input-user-picture,
.container .delete-user .user-picture-area .input-user-picture {
  display: none;
}

.container .edit-user .user-name,
.container .delete-user .user-name {
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.container .edit-user .user-name .edit-user-name,
.container .edit-user .user-name .delete-user-name,
.container .delete-user .user-name .edit-user-name,
.container .delete-user .user-name .delete-user-name {
  padding-left: 40px;
}

.container .edit-user .user-name .input-user-name,
.container .delete-user .user-name .input-user-name {
  padding: 20px 0;
  padding-left: 67px;
  width: 73%;
  font-size: 1.6rem;
  outline: 0;
  border: none;
}

.container .edit-user .user-introduction,
.container .delete-user .user-introduction {
  padding-top: 20px;
  border-bottom: 1px solid #a9a9a9;
}

.container .edit-user .user-introduction .edit-user-introduction,
.container .edit-user .user-introduction .delete-user-introduction,
.container .delete-user .user-introduction .edit-user-introduction,
.container .delete-user .user-introduction .delete-user-introduction {
  vertical-align: top;
  padding-left: 40px;
}

.container .edit-user .user-introduction .textarea-user-introduction,
.container .delete-user .user-introduction .textarea-user-introduction {
  padding-left: 35px;
  margin-bottom: 20px;
  width: 80%;
  font-size: 1.6rem;
  outline: 0;
  resize: none;
  border: none;
}

.container .edit-user .logout,
.container .edit-user .user-delete,
.container .delete-user .logout,
.container .delete-user .user-delete {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}

.container .edit-user .logout .logout-link,
.container .edit-user .logout .user-delete-link,
.container .edit-user .user-delete .logout-link,
.container .edit-user .user-delete .user-delete-link,
.container .delete-user .logout .logout-link,
.container .delete-user .logout .user-delete-link,
.container .delete-user .user-delete .logout-link,
.container .delete-user .user-delete .user-delete-link {
  color: red;
}

.container .edit-user .line1,
.container .delete-user .line1 {
  padding: 20px;
  background-color: #e9edf3;
  border-bottom: 1px solid #a9a9a9;
}

.container .edit-user .line2,
.container .delete-user .line2 {
  padding: 100px;
  background-color: #e9edf3;
  border-bottom: 1px solid #a9a9a9;
}

.container .edit-user .error-message,
.container .delete-user .error-message {
  text-align: center;
  background-color: pink;
}

.container .edit-user .delete-area,
.container .delete-user .delete-area {
  background-color: #e9edf3;
  text-align: center;
}

.container .edit-user .delete-area .delete-message,
.container .delete-user .delete-area .delete-message {
  padding: 100px 20px 0;
  font-weight: bold;
}

.container .edit-user .delete-area .delete-button,
.container .delete-user .delete-area .delete-button {
  padding: 5px 10px;
  background-color: tomato;
  color: #fff;
  border-radius: 5px;
  margin: 30px 0 180px;
}

.container .invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 75%;
  color: #e3342f;
}

footer {
  padding: 70px;
  background-color: #696969;
  display: -webkit-box;
  display: flex;
}

footer .footer-inner {
  text-align: center;
  color: #fff;
  background-color: #696969;
}

@media (max-width: 575px) {
  body {
    font-size: 0.8rem;
  }

  input {
    font-size: 0.8rem;
  }

  header .header-inner .header-left .header-logo {
    font-size: 1.4rem;
    padding: 10px 0;
  }

  header .header-inner .header-left .header-back {
    margin: 10px 0;
    font-size: 1.2rem;
  }

  header .header-inner .header-right .utility-item .utility-item_login {
    padding: 13px 5px;
  }

  header .header-inner .header-right .utility-item .utility-item_register {
    padding: 13px 0;
  }

  header .header-inner .header-right .utility-item .utility-item_config {
    font-size: 1.2rem;
    margin: 10px 10px 0;
  }

  header .header-inner .header-right .utility-item .utility-button {
    padding: 2px 5px;
    font-size: 1.2rem;
  }

  header .header-inner .header-right .utility-item .utility-item_edit {
    margin: 8px 0;
  }

  header .header-inner .header-right .utility-item .utility-item_post {
    margin: 9px 0;
  }

  header .header-inner .header-right .utility-item .utility-item_trash {
    font-size: 1.2rem;
    margin: 9px 0 0;
  }

  header .header-inner .header-right .login-user-picture {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .container {
    max-width: 540px;
  }

  .container .main-view {
    width: 100%;
    height: 300px;
  }

  .container .main-view .catch-copy {
    font-size: 2.2rem;
    padding-top: 100px;
  }

  .container .main-view .link {
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 5px 30px;
  }

  .container .service-wrapper {
    padding-bottom: 30px;
  }

  .container .service-wrapper .service-description {
    font-size: 1.2rem;
    margin: 30px 0;
  }

  .container .service-wrapper .service-contents .service-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 0px;
  }

  .container .service-wrapper .service-contents .service-content .service-concept,
  .container .service-wrapper .service-contents .service-content .service-image {
    height: 180px;
    width: 300px;
    margin: 0 auto 10px;
  }

  .container .service-wrapper .service-contents .service-content .reverce {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }

  .container .register,
  .container .login {
    max-width: 300px;
    margin: 40px auto 50px;
    padding: 30px;
  }

  .container .register-done .register-done_message {
    font-size: 2rem;
  }

  .container .posts-wrapper {
    padding: 20px 0;
    text-align: center;
    height: auto;
  }

  .container .posts-wrapper .posts-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .container .posts-wrapper .post {
    border-bottom: 1px solid #a9a9a9;
  }

  .container .posts-wrapper .post-picture_small {
    width: 350px;
    height: 250px;
  }

  .container .create {
    padding: 30px 0;
  }

  .container .create .create-post-picture {
    width: 350px;
    height: 200px;
    padding-top: 50px;
    font-size: 0.8rem;
  }

  .container .create .create-post-picture .fa-image {
    color: #fff;
    font-size: 8rem;
  }

  .container .create .create-post-picture .error-message {
    margin: 10px 0;
  }

  .container .create .choice-picture img {
    width: 350px;
    height: 200px;
  }

  .container .create .create-post-title {
    width: 350px;
    padding: 10px 5px 0;
  }

  .container .create .create-post-title .post-title {
    border: none;
    width: 100%;
    font-size: 0.8rem;
    padding: 5px;
    outline: 0;
  }

  .container .create .error-message {
    font-size: 0.8rem;
    margin: 0 12px;
  }

  .container .show .user-area {
    width: 100%;
    padding: 15px 10px 5px;
  }

  .container .show .user-area .user-picture_small {
    width: 40px;
    height: 40px;
    border: 1px solid #696969;
    border-radius: 30px;
  }

  .container .show .user-area .user-name {
    padding: 20px 10px;
  }

  .container .show .post-area .post-picture_large {
    width: 100%;
    height: 250px;
  }

  .container .show .post-area .post-title {
    width: 100%;
    padding: 10px 10px 5px;
    font-size: 0.8rem;
  }

  .container .show .post-area .post-date {
    width: 100%;
    font-size: 0.8rem;
    padding: 5px 10px 0;
  }

  .container .check-modal .modal {
    top: 25%;
    left: 11%;
    border-radius: 5px;
    width: 300px;
  }

  .container .check-modal .modal .message-area {
    padding: 20px 0 0;
  }

  .container .check-modal .modal .button-area {
    display: -webkit-box;
    display: flex;
  }

  .container .check-modal .modal .button-area .cancell-button {
    padding: 10px 0;
    font-size: 0.8rem;
  }

  .container .check-modal .modal .button-area .delete-button {
    font-size: 0.8rem;
  }

  .container .profile {
    padding-bottom: 40px;
  }

  .container .profile .user-area {
    padding: 20px 20px 0px;
    border-bottom: 1px solid #a9a9a9;
    width: 100%;
  }

  .container .profile .user-area .user-picture_medium {
    width: 50px;
    height: 50px;
  }

  .container .profile .user-area .user-name {
    font-size: 1.2rem;
    padding: 10px;
  }

  .container .profile .user-area .fa-paper-plane {
    margin-left: 150px;
    font-size: 1.2rem;
    color: #fff;
    padding: 10px;
  }

  .container .profile .user-area .user-introduction {
    padding: 10px 0;
  }

  .container .profile .no-post_guest {
    padding: 70px 0 130px;
  }

  .container .profile .no-post_guest .no-post_message {
    font-size: 1.2rem;
  }

  .container .profile .no-post_user .create-post-picture {
    width: 250px;
    height: 150px;
    padding-top: 25px;
  }

  .container .profile .no-post_user .fa-image {
    font-size: 10rem;
  }

  .container .profile .posts-area {
    text-align: center;
  }

  .container .profile .posts-area .post-picture_medium {
    height: 250px;
  }

  .container .profile .posts-area .post-title {
    font-weight: bold;
    padding: 5px;
    border: none;
    text-align: left;
    max-width: 350px;
  }

  .container .edit-user,
  .container .delete-user {
    border-right: none;
    border-left: none;
    padding-top: 20px;
  }

  .container .edit-user .user-picture-area .edit-user-picture,
  .container .edit-user .user-picture-area .delete-user-picture,
  .container .delete-user .user-picture-area .edit-user-picture,
  .container .delete-user .user-picture-area .delete-user-picture {
    width: 50px;
    height: 50px;
    margin: 0px 30px 10px;
  }

  .container .edit-user .user-picture-area .edit-user-picture img,
  .container .edit-user .user-picture-area .delete-user-picture img,
  .container .delete-user .user-picture-area .edit-user-picture img,
  .container .delete-user .user-picture-area .delete-user-picture img {
    width: 48px;
    height: 48px;
  }

  .container .edit-user .user-picture-area .choice-picture img,
  .container .delete-user .user-picture-area .choice-picture img {
    width: 50px;
    height: 50px;
    margin: 0px 30px 10px;
  }

  .container .edit-user .user-name .input-user-name,
  .container .delete-user .user-name .input-user-name {
    margin-left: 40px;
    padding: 20px 0;
    width: 63%;
    font-size: 0.8rem;
  }

  .container .edit-user .user-introduction .textarea-user-introduction,
  .container .delete-user .user-introduction .textarea-user-introduction {
    margin: 0 0 20px 20px;
    padding: 0;
    width: 63%;
    font-size: 0.8rem;
  }

  .container .edit-user .logout,
  .container .edit-user .user-delete,
  .container .delete-user .logout,
  .container .delete-user .user-delete {
    padding: 10px;
  }

  .container .edit-user .line1,
  .container .delete-user .line1 {
    padding: 10px;
  }

  .container .edit-user .line2,
  .container .delete-user .line2 {
    padding: 30px;
  }

  .container .edit-user .delete-area .delete-message,
  .container .delete-user .delete-area .delete-message {
    padding: 50px 20px 0;
    font-weight: bold;
  }

  .container .edit-user .delete-area .delete-button,
  .container .delete-user .delete-area .delete-button {
    font-size: 0.8rem;
    padding: 3px 7px;
    margin: 20px 0 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header .header-inner .header-left .header-back_profile {
    margin: 10px 0 10px 50px;
  }

  header .header-inner .header-left .header-back_edit,
  header .header-inner .header-left .header-back_delete {
    margin: 20px 0 20px 40px;
  }

  header .header-inner .header-right .utility-item .utility-item_config {
    margin: 10px 30px 0;
  }

  header .header-inner .header-right .utility-item .utility-item_edit {
    margin: 20px 40px 0 0;
  }

  .container {
    max-width: 768px;
  }

  .container .main-view {
    height: 450px;
  }

  .container .main-view .catch-copy {
    font-size: 3.6rem;
    padding-top: 150px;
  }

  .container .main-view .link {
    font-size: 1.8rem;
  }

  .container .service-wrapper .service-contents .service-content {
    padding: 30px 50px;
  }

  .container .service-wrapper .service-contents .service-content .service-concept,
  .container .service-wrapper .service-contents .service-content .service-image {
    height: 200px;
    width: 300px;
    overflow: hidden;
  }

  .container .posts-wrapper {
    padding: 20px 0;
    height: 1700px;
  }

  .container .posts-wrapper .posts-column {
    flex-wrap: wrap;
    max-width: 720px;
  }

  .container .posts-wrapper .post-picture_small {
    width: 350px;
    height: 250px;
  }

  .container .create {
    padding: 40px 0;
  }

  .container .create .create-post-picture {
    width: 700px;
    height: 400px;
    padding-top: 80px;
  }

  .container .create .create-post-picture .error-message {
    margin: 10px 0;
  }

  .container .create .choice-picture img {
    width: 700px;
    height: 400px;
  }

  .container .create .create-post-title {
    width: 700px;
  }

  .container .create .create-post-title .post-title {
    font-size: 1.6rem;
  }

  .container .create .error-message {
    margin: 0 33px;
  }

  .container .show .user-area {
    width: 100%;
  }

  .container .show .post-area .post-picture_large {
    width: 100%;
    height: 500px;
  }

  .container .show .post-area .post-title {
    width: 100%;
    padding: 10px 10px 5px;
  }

  .container .show .post-area .post-date {
    width: 100%;
    font-size: 0.8rem;
    padding: 5px 10px 0;
  }

  .container .check-modal .modal {
    top: 25%;
    left: 18%;
  }

  .container .profile .user-area {
    width: 100%;
  }

  .container .profile .user-area .fa-paper-plane {
    margin-left: 300px;
  }

  .container .profile .no-post_user .create-post-picture {
    padding-top: 45px;
  }

  .container .profile .no-post_user .fa-image {
    font-size: 20rem;
  }
}

